/* Global styles */

@font-face {
	font-family: TitilliumWeb;
	src: url('/assets/fonts/TitilliumWeb-Regular.ttf');
}

body {
  font: 100% TitilliumWeb, Calibri, Lucida Grande;
  background: #E6E6E6;
	margin: 0 auto;
	min-width: 720px;
	width: 100%;
}

#page-wrap {
  width: 80%;
  float: left;
}

#sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;

  width: 20%;
  height: 100%;
  /*background-color: white; TODO More visible? */
}

/* Application layout classes */
#header {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

#user {
  text-align: center;
	width: 9em;
	position: fixed;
	left: 40px;
	top: 20px;
	margin-left: 20px;
  font: 140% TitilliumWeb, Calibri, Lucida Grande;
  font-weight: bold;
  text-decoration: none;
}

#content {
  width: 60%;
	margin-top: 40px;
	min-height: 350px;
	height: auto;
}

#notification_feed_table {
  height: 100%;
  overflow-y: scroll;
}

.center {
	text-align: center;
  margin: 0 auto;
}

.divider{
    position:absolute;
    left:80%;
    top: 0;
    bottom: 0;
    border-left:1px solid black;
}

.locale {
  float:left;
  padding-top: 0.2em;
  font-size: 0.75em;
}

.flash_notice {
  color: #ccffaa;
}

.flash_error {
  color: #ff8899;
}

.flash_message {
  position: absolute;
  top: 1.2em;
  left: 0.5em;
}

.main-input-area{
  width: 80%;
  padding-top:1em;
  float: left;
  display:block;
}

.sub-input-area  {
  width: 20%;
  padding-top:1em;
  float:right;
  display:block;
  text-align: left;

  .checkboxes p {
    padding-bottom: 0.5em;
  }

  .checkboxes {
  }
}

/* Following is CSS for tabbing taken from: http://clagnut.com/sandbox/csstabs/*/

#navigation {
  margin-left: -1cm; 
  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
	  background-color: #F0F0F0;
    color: #000000;
    width: 147px;
    padding: 10px;
  }

  li.selected {
    display: inline-block;
    background-color: #33363B;
	  color: #FFFFFF;
    width: 147px;
	  padding: 10px;
  }

  li:hover {
    background-color: #33363B;
	  color: #FFFFFF;
  }

  li.selected:hover {
    background-color: #4a4e55;
	  color: #FFFFFF;
  }

  a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-weight: bold;
  }
}

.login-form{
    float:right;
    padding-right:1em;

    p {
        color: #C5F1F9;
    }

    form {
        padding-top: 2em;
    }
}

/*.register {
  color: #aaaaaa;
  text-align: center;
  font-size: 0.75em;
  float: right;
  padding-right: 1em;

  p {
    display: block;
    color: #C5F1F9;
    padding-bottom: 0.5em;
    font-size: 1.25em;
  }

  a {
    color: #aaaaaa;
    display: block;
    text-decoration: underline;
  }

  a:link,
  a:hover,
  a:active,
  a.here:link,
  a.here:visited {
    color: #888888;
  }
}*/

/* Striping the table using CSS3 magic */

table {
	border-collapse: collapse;
	width: 100%;
  border: none;
  outline: none;
}

table tr.header {
	color: #ffffff;
	background-color: #555555;
	border: 1px solid #555555;
	padding: 3px;
}

tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

table td {
	border: 1px solid #d4d4d4;
	padding: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: middle;
}

/* Digg style pagination taken from mislav-will_paginate rails gem doc */
.digg_pagination {
  /*background: white;*/
  /* self-clearing method: */
}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
  display: inline-block;
  padding: .2em .5em;
  margin-right: -3px;
  margin-top: 5px;
}

.digg_pagination span.disabled { /* GIT */
  color: #999;
  border: 1px solid #DDD;
}

.digg_pagination em.current { /* GIT */
  font-weight: bold;
  background: #33363B;
  color: white;
  border: 1px solid #33363B;
}

.digg_pagination a {
  text-decoration: none;
  color: #33363B;
  border: 1px solid #33363B;
}

.digg_pagination a:hover, .digg_pagination a:focus {
  color: white;
  border-color: #33363B;
  background: #33363B;
}

.digg_pagination .page_info {
  background: #2E6AB1;
  color: white;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center;
}

.digg_pagination .page_info b {
  color: #003;
  background: #6aa6ed;
  padding: .1em .25em;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}

*:first-child+html .digg_pagination {
  overflow: hidden;
}

/* Error box and highlighting */

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}



